.filepond--drop-label{
    display:none;
    margin-bottom:5px;
}
.filepond--browser{
    display:none;
}
#filepond--browser-mm91f73jn{
    display:none;
}
#filepond--drop-label-esua7sca7{
    display:none;
}
.flex{
    box-shadow: none !important;
}
.ant-layout-header {
    height: 64px;
    padding: 0 0px !important;
    line-height: 64px;
    background: none !important;
}
.filepond--action-remove-item{
    display: none;
}
.filepond--action-revert-item-processing{
    display: none;
}
footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
}