@import "./variables";


.mdl-animation--default {
  transition-timing-function: $animation-curve-default;
}

.mdl-animation--fast-out-slow-in {
  transition-timing-function: $animation-curve-fast-out-slow-in;
}

.mdl-animation--linear-out-slow-in {
  transition-timing-function: $animation-curve-linear-out-slow-in;
}

.mdl-animation--fast-out-linear-in {
  transition-timing-function: $animation-curve-fast-out-linear-in;
}
