.animated-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
	background: #f6f7f8;
  background: linear-gradient(to right,#eee 8%,#ddd 18%,#eee 33%);
  background-size: 800px 104px;
  p {
    margin: 0 4px !important;
    opacity: 0;
    line-height: 0.85;
  }
}
@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

.sy-blogs-container {
	background-image: $sy-grey-gradient;
  margin-left: -24px;
  margin-right: -24px;
  @include mq('tablet') {
    margin-left: -48px;
    margin-right: -48px;
  }
	.sy-blogs-list {
		max-width: 1140px;
		margin: auto;
		justify-content: space-between;
    flex-wrap: wrap;
    @include mq('tablet') {
      flex-wrap: none;
    }
    .sy-blog-itm:hover {
      box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
      .sy-blog-img {
        transform: scale(1.2);
      }
    }
		.sy-blog-itm {

			background-color: #fff;
			overflow: hidden;
			border-radius: 10px;
			margin: 16px;
			@extend .mdl-shadow--4dp !optional;
			will-change: box-shadow;
			transition-property: box-shadow;
		  @include material-animation-fast-out-slow-in(0.2s);
      flex: 1 1 100%;
        @include mq('tablet') {
          flex: 1 1 0;
        }
      .sy-blog-content {
        min-height: 100%;
        flex-wrap: wrap;
        @include mq('tablet') {
          flex-direction: row;
        }
        .item {
          flex: 1 1 100%;

            @include mq('tablet') {
              flex: 1 1 0;
            }
        }
      }
			.sy-blog-metadata {
				padding: 24px 36px;
        min-height: 248px;
      }
      .sy-blog-img-parent:hover .sy-blog-img,
      .sy-blog-img-parent:focus .sy-blog-img {
        transform: scale(1.2);
      }
			.sy-blog-img {
        align-self: stretch;
				min-height: 248px;
        height: 100%;
        width: 100%;
        transition-duration: 0.2s;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        background-size: cover;
        background-repeat: no-repeat;
        transition-duration: 0.2s;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        @include mq('tablet') {
          min-width: 227px;
          border-top-left-radius: 10px;
  				border-bottom-left-radius: 10px;
        }
			}
		}
	}

}
