.sy-client-grid {
	max-width: 1140px;
	width: 100%;
	margin: 20px auto;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;

	.sy-client-item {
		transition: opacity 0.4s;
		opacity: 0.6;
		padding: 24px 0;
		flex: 0 0 50%;
		img {
			display: block;
			margin: auto;
		}
		@include mq('phone-wide') {
			flex: 0 0 33%;
		}
		@include mq('tablet') {
			flex: 0 0 20%;
		}
		@include mq('desktop') {
			flex: 0 0 auto;
		}
		&:hover {
			opacity: 1;
		}
	}
}
