@import 'variables';
@import 'gradients';

.sy-button {
  border-radius: 18px;
  position: relative;
  border: none;
  // box-shadow: 0 2px 54px 0 rgba(13, 13, 13, 0.2);
  background-image: $sy-primary-gradient;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding: 10px 24px;
  min-width: 144px;
  cursor: pointer;
  outline: none !important;
  transition-property: background-image, box-shadow;
  will-change:   background-image, box-shadow;
  @include material-animation-fast-out-slow-in(0.2s);
  a {
    outline: none;
    text-decoration: none !important;
    color: inherit !important;
  }
  &.sy-button-lg {
     font-size: 22px;
     padding: 16px 51px;
     border-radius: 28.5px;
     background-image: linear-gradient(100deg, #4c83ff, #2afadf);
     font-weight: bold;
     font-style: normal;
     font-stretch: normal;
     line-height: normal;
     letter-spacing: normal;
     text-align: center;
     color: #ffffff;
  }
  &.sy-button--inverse {
    background-image: none;
    background-color: #fff;
    @extend .mdl-color-text--primary !optional;
  }
  &.sy-button--padded {
    padding: 13px 44px;
  }
  &.sy-button--secondary {
    background-image: $sy-secondary-gradient;
  }
  &.sy-button--raised {
    @extend .mdl-shadow--2dp !optional;
  }
  &.sy-button--flat {
    background-image: none;
    background-color: transparent;
    &:hover {
      @extend .sy-button--primary !optional;
    }
  }
  &:hover {
    @extend .mdl-shadow--2dp !optional;
  }
  &:active {
    @extend .mdl-shadow--3dp !optional;
  }
}
