/**
https://tympanus.net/codrops/2013/07/18/on-scroll-effect-layout/
*/

.cbp-so-scroller {
	// margin-top: 50px;
	overflow: hidden;
}

.cbp-section-wrapper {
	&.alt {
		background-color: rgba(247, 248, 250, 0.5);
	}
}
.cbp-so-section {
	// margin-bottom: 3em;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	// max-width: 1220px;
	min-height: 500px;
	display: block;

	display: flex;
	flex-direction: column-reverse;
	min-height: auto;
	justify-content: center;
	align-items: center;
	article {
		text-align: center;
		margin: auto;
	}
	figure {
		padding-top: 0px;
		padding: 0px;
		img {
			padding-top: 0px;
		}
	}

	&:nth-child(2n+1) {
		flex-direction: column;
	}

	@include mq("tablet-wide") {
		max-width: 1136px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		article {
			text-align: left;
		}
		&:nth-child(2n+1) {
			flex-direction: row;
			article {
				text-align: right;
			}
		}
	}
}

.cbp-so-section.alt {
	// background-color: rgba(247, 248, 250, 0.5);
}

/* Clear floats of children */
.cbp-so-section:before,
.cbp-so-section:after {
	content: " ";
	display: table;
}

.cbp-so-section:after {
	clear: both;
}

/* Text styling */
.cbp-so-section h2 {
	font-size: 32px;
	color: #2a333e;
	font-weight: 300;
	line-height: 1;
}

.cbp-so-section p {
	font-size: 16px;
	line-height: 1.63;
	color: #6f859f;
	font-weight: 400;
}

/* Sides */
.cbp-so-side {
	// width: 50%;
	float: left;
	margin: 0;
	padding: 3em 32px;
	// padding-top: 0px;
	overflow: hidden;
	min-height: 12em;
}

figure.cbp-so-side {
	max-width: 713px;
	@include mq("tablet-wide") {
		width: 60%;
	}
}
article.cbp-so-side {
	// margin-top: -42px; // Compensate for white space below the image
	max-width: 425px;
	@include mq("tablet-wide") {
		width: 40%;
	}
}

.cbp-so-side {
	img {
		padding-top: 25px;
		width: 100%;
	}
}

/* Clear floats of children */
.cbp-so-side:before,
.cbp-so-side:after {
	content: " ";
	display: table;
}

.cbp-so-side:after {
	clear: both;
}

.cbp-so-side-right {
	text-align: left;
}

.cbp-so-side-left {
	text-align: right;
}

.cbp-so-side-right img {
	float: left;
}

.cbp-so-side-left img {
	float: right;
}

/* Initial state (hidden or anything else) */
.cbp-so-init .cbp-so-side {
	opacity: 0;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

.cbp-so-init .cbp-so-side-left {
	-webkit-transform: translateX(-80px);
	-moz-transform: translateX(-80px);
	transform: translateX(-80px);
}

.cbp-so-init .cbp-so-side-right {
	-webkit-transform: translateX(80px);
	-moz-transform: translateX(80px);
	transform: translateX(80px);
}

/* Animated state */
/* add you final states (transition) or your effects (animations) for each side */
.cbp-so-section.cbp-so-animate .cbp-so-side-left,
.cbp-so-section.cbp-so-animate .cbp-so-side-right {
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	-moz-transition: -moz-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
	opacity: 1;
}

/* For example, add a delay for the right side:
.cbp-so-section.cbp-so-animate .cbp-so-side-right {
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
*/

/* Example media queries */

@media screen and (max-width: 73.5em) {
	.cbp-so-scroller {
		font-size: 65%;
	}

	.cbp-so-section h2 {
		margin: 0;
	}

	.cbp-so-side img {
		max-width: 120%;
	}
}

@media screen and (max-width: 41.125em) {
	.cbp-so-side {
		float: none;
		width: 100%;
	}

	.cbp-so-side img {
		max-width: 100%;
	}
}

@media screen and (max-width: 1024px) {
	section.cbp-so-section {


	}
}

@media screen and (max-width: 1024px) {

}
