.sy-carousel {
	padding: 36px 0px;
	flex-wrap: wrap;
	@include mq("phone-wide") {
		max-width: 1440px;
		margin: auto;
    padding: 32px 32px;
    flex-wrap: nowrap;
	}
	@include mq('tablet') {
		max-width: 1440px;
		margin: auto;
    padding: 48px 48px;
    flex-wrap: nowrap;
	}
	.sy-carousel-content {

		// overflow: hidden;
		position: relative;
		flex: 1 1 100%;
		order: 3;
		@include mq('phone-wide') {
			order: 2;
		}
		.sy-carousel-active {
			transition: transform, opacity, 1s linear;
			position: absolute;
			top: 0;
			left: 0;
			margin: 64px 256px;
			padding: 64px 256px;
			box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.35);
			height: calc(100% - 128px);
			box-sizing: border-box;

			&.sy-carousel-visible {
				transform: translateX(-2000px);
				z-index: 100;
				opacity: 1;
			}
			&.sy-carousel-away {
				transform: translateX(0);
				opacity: 0;
			}
		}
	}

	.sy-carousel-nav-fwd,
	.sy-carousel-nav {
		position: relative;
		margin: auto;
		order: 1;
		flex: 1 1 50%;
		padding: 16px 0px;
		display: flex;
		justify-content: center;
		@include mq("phone-wide") {
			flex: 0 0 auto;
		}
	}
	.sy-carousel-nav-fwd {
		position: relative;
		img {
			transform: rotate(180deg);
		}
		order: 2;
		@include mq("phone-wide") {
			order: 3;
		}
	}

}
