.case-carousel {
	.case-item {
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;

		.card {
		  transition-property: box-shadow;
		  will-change: box-shadow;
		  @include material-animation-fast-out-slow-in(0.2s);
			display: none;
			@include mq("desktop") {
				display: block;
				margin-right: 50px;
			}
			&:hover, &:focus, &:active {
				@extend .mdl-shadow--24dp !optional;
				.sy-case-study-cover {
					transform: scale(1.2);
				}
			}
			cursor: pointer;
			max-width: 350px;
			min-height: 440px;
			@extend .mdl-shadow--12dp !optional;
			border-radius: 20px 20px;
			padding: 20px 0px 20px 20px;
			background-image: url("/static/images/headers/default-grid-cover.svg");
			picture {
				overflow: hidden;
				border-top-left-radius: 30px;
				border-bottom-left-radius: 30px;
				.sy-case-study-cover {
					display: block;
					margin-left: auto;
					@extend .mdl-shadow--24dp !optional;
					transition-property: transform;
				  will-change: transform;
				  @include material-animation-fast-out-slow-in(0.2s);

				}
			}
		}
		.description {
			display: block;
			max-width: 500px;
			h3 {
				font-size: 26px;
				font-weight: 400;
				line-height: 30px;
				margin-top: 12px;
				margin-bottom: 12px;
				@include mq('desktop') {
					font-size: 34px;
					line-height: 40px;
					margin-top: 24px;
					margin-bottom: 24px;
				}
			}

			// @include mq("desktop") {
			// 	display: block;
			// 	margin-left: 50px;
			// }
		}
	}
}

.sy-industry-study {
	margin: 0 -24px;
	align-items: center;
	.item.sy-case-title {
		display: none;
		@include mq('tablet') {
			display: block;
			margin: 32px;
			flex: 6 6 0;
			h2 {
				font-weight: bold;
			}
		}
	}
	.item.sy-case-img {
		position: relative;
		flex: 3 3 0;
		overflow: hidden;
		 box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
		 img {
			 transition-property: transform;
			 will-change: transform;
			 @include material-animation-fast-out-slow-in(0.2s);
		 }
		 &:hover {
			 img {
				 transform: scale(1.2);
			 }
		 }
		.sy-button-holder {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			.sy-button--secondary {
				&:hover, &:focus {
					@extend .sy-button--primary !optional;
				}
			}
		}
	}

	img {
		@include mq('tablet') {
			margin-right: 16px;
		}
	}
}
