


.sy-download-brochure {
  background-image: $sy-primary-gradient;
  padding: 56px 0px 64px 0px;
  flex-direction: column !important;
  min-height: 222px;
  box-sizing: border-box;
  justify-content: center;
  a {
    align-self: center;
  }
  .sy-brochure-text {
    margin: auto;
    width: 100%;
    font-family: Roboto;
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-bottom: 27px;
  }
    .sy-button {
      margin: auto;
    }
}
