$margin: 18px;
.sy-feature-events {
	justify-content: center;
	.sy-feature-event {
		flex: 1 1 0px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: $margin;
		height: 160px;
		border-radius: 10px;
		transition-property: box-shadow;
	  will-change:  box-shadow;
	  @include material-animation-fast-out-slow-in(0.2s);
		// box-shadow: 0 2px 10px 0 rgba(188, 198, 214, 0.7);
		// background-image: linear-gradient(to top, #ebedee, #fbfbfb);
		flex: 1 1 calc(100% - 2 * #{$margin});
		@include mq('phone-wide') {
			flex: 0 0 33%;
		}
		@include mq('tablet') {
			flex: 0 0 20%;
		}
		@include mq('desktop') {
			flex: 0 0 auto;
		}
		a {
			text-decoration: none !important;
		}
		&:focus {
			color: black;
		}
		figure {
			@include mq('desktop') {
				picture {
					filter: grayscale(1);
				}
			}
			figcaption {
				color: #343434 !important;
			}
		}
		&:hover, &:active, &:focus {
			// box-shadow: 0 8px 60px 0 rgba(188, 198, 214, 0.7);
			transition-property: filter;
		  will-change:  filter;
		  @include material-animation-fast-out-slow-in(0.2s);
			figure {
				picture {
					filter: unset;
				}
			}
		}
		// @include mq('phone-wide') {
		// 	flex: 0 0 calc(50% - 2 * #{$margin});
		// }
		// @include mq('tablet-wide') {
		// 	flex: 0 0 calc(33% - 2 * #{$margin});
		// }
	}
}
