.sy-feature-itm {
	margin: 20px;
	min-height: 300px;
	border-radius: 10px;
	box-shadow: 0 1px 7px 0 rgba(210, 204, 255, 0.7);
	background-color: #ffffff;
	padding: 28px 30px 22px 30px;
	box-sizing: border-box;

	flex: 1 1 100%;
	@include mq("tablet") {
		flex: 1 1 calc(50% - 10px);
	}

	@include mq("tablet", "max") {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
}

.sy-feature-hdr {
	font-family: Roboto;
	font-size: 20px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #2a333e;
	margin: 11px 0;
}

.sy-feature-description {
	font-family: Roboto;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.63;
	letter-spacing: normal;
	color: #4b5c72;
	margin: 0;
}

.sy-section-hdr {
  @include mq('tablet')  {
    font-size: 38px;    
  }
  font-size: 28px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2a333e;
}
