.sy-footer-hdr {
  margin: 0;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.25;
  letter-spacing: normal;
  color: #4b5c72;
  text-align: center !important;
  @include mq('tablet') {
      text-align: left !important;
  }
}

.sy-social-media-footer {
  justify-content: center;
  flex-direction: row;
  @include mq('tablet') {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}
footer {
  // position: absolute;
  // bottom: 0;
  width: 100%;
  // left: 0;
  // right: 0;
}
.sy-footer-itm {
  margin: 0;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.43;
  letter-spacing: normal;
  color: #4b5c72;

}

.sy-footer-section {
    flex: 1 1 50%;
  @include mq('tablet') {
      flex: 1 1 0;
  }
}

@media screen and (max-width: 767px) {
  .sy-footer-icon {
    flex: 0 0 100% !important;
    margin-bottom: 5%;
  }
}
.sy-footer-items {
  align-self: center !important;
  @include mq('tablet') {
      align-self: flex-start !important;
  }
}
.sy-footer-container {
  flex-wrap: wrap;
  @include mq('tablet') {

      flex-wrap: nowrap;
  }
}
