.sy-submit-button {
  font-family: Roboto;
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 25px;
  padding: 25px 24px 18px 24px;
  letter-spacing: normal;
  color: #ffffff;
  border-radius: 10px;
  width: 100%;
  outline: none !important;
  box-shadow: 2px 4px 6px 0 rgba(142, 142, 142, 0.5);
  background-image: linear-gradient(to top, #6743ec, #8368f5);
  transition-property: box-shadow;
  will-change:   box-shadow;
  position: relative;
  border-width: 0 !important;
  overflow: hidden;
  @include material-animation-fast-out-slow-in(0.2s);
  &:hover {
    @extend .mdl-shadow--24dp !optional;
  }
  &:active, &:focus {
    @extend .mdl-shadow--24dp !optional;
  }
}


$sy-input-indicator: #6e56e5;
.sy-input {
  border-radius: 10px;
  @extend .mdl-shadow--4dp !optional;
  // box-shadow: 2px 4px 6px 0 rgba(142, 142, 142, 0.5);
  background-color: #ffffff;
  outline: none;
  padding: 15px 39px 18px 39px;
  margin: 0px 0px 40px 0px;
  position: relative;
  display: block;
  width: calc(100% - 78px);
  outline: none !important;
  transition-property: box-shadow;
  will-change:   box-shadow;
  @include material-animation-fast-out-slow-in(0.2s);
  position: relative;
  input {
    width: 100%;
    height: 35px;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    outline: none !important;
    border: none !important;
  }
  .sy-input-helper-message {
    font-size: 10px;
    position: absolute;
    bottom: 2px;
    left: 39px;
    right: 39px;
    text-align: right;
    color: $sy-input-indicator;
    &.error {
      color: $input-text-error-color;
    }
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 10px;
    border-radius: 10px;
    opacity: 0.5;
    transition-property: background-color, opacity;
    will-change:   background-color, opacity;
    @include material-animation-fast-out-slow-in(0.2s);
    background-color: $sy-input-indicator;
  }
  &:hover,
  &:focus,
  &.active {
    // box-shadow: 2px 4px 20px 0 rgba(142, 142, 142, 0.5);
    @extend .mdl-shadow--4dp !optional;
    &:before {
      content: '';
      opacity: 1;
    }
  }
  &.error {
    &:before {
      content: '';
      background-color: $input-text-error-color
    }
  }
}

.sy-input-label {
  &.sr-only {
    display: none;
  }
}

$status-text-color: unquote("rgba(#{$color-primary-dark}, 0.87)") !default;
.sy-form {
  position: relative;
  padding: 0;
  @include mq('tablet') {
    padding: 24px 32px;
  }

  .sy-animated-status {
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 10px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 48px;
    svg {
      height: 140;
    }
    .sy-status-text {
      color: $status-text-color;
      padding-top: 8px;
      font-size: 20px;
      text-align: center;
    }
  }
}

.sy-schedule-demo {
  align-items: center;
}

.sy-schedule-demo-form  {
  flex: 0 0 100%;
  @include mq('tablet') {
    flex: 0 0 65%;
  }
  @include mq('desktop')   {
    flex: 0 0 50%;
  }
}
.sy-schedule-demo-media {
  flex: 0 0 100%;
  @include mq('tablet') {
    flex: 0 0 35%;
    align-self: baseline;
  }
  @include mq('desktop')   {
    flex: 0 0 50%;
  }
}

.sy-schedule-demo-media {
    overflow: hidden;
    order: 2;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    padding: 16px 0px;
    .sy-icon-container {
      border-radius: 20px;
      // background-color: #6e56e5;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 0 0 calc(100% - 16px);
      // height: 259px;

      @include mq('phablet') {
        flex: 0 0 calc(50% - 32px);
        // display: block;
      }
      @include mq('tablet') {
        flex: 0 0 calc(100% - 32px);
        // height: auto;
        display: flex;
        // justify-content: space-between;
        // flex-direction: row;
      }
      @include mq('desktop') {
        flex: 0 0 calc(50% - 32px);
        height: 259px;
        // display: block;
      }
      // @include mq('desktop') {
      //   flex: 0 0 calc(50% - 32px);
      //   height: 259px;
      // }
      margin: 8px;
      // &.odd {
      //   margin-right: 0;
      //   @include mq('desktop') {
      //     margin-left: 8px;
      //   }
      //   @include mq('tablet-wide') {
      //     margin-left: 0;
      //   }
      //   @include mq('phablet') {
      //     margin-left: 8px;
      //   }
      // }
      // &.even {
      //   margin-right: 0;
      //   @include mq('desktop') {
      //     margin-right: 8px;
      //   }
      //   @include mq('tablet-wide') {
      //     margin-right: 0;
      //   }
      //   @include mq('phablet') {
      //     margin-left: 8px;
      //   }
      // }
      .icon {
        height: 120px;
        // margin: 32px auto 0 auto;
        @include mq('phablet') {
          height: 120px;
        }
        @include mq('tablet') {
          height: 96px;
          margin: 0 8px;
        }
        @include mq('desktop') {
          height: 120px;
          // margin: 32px auto 0 auto;
        }
      }
      
      padding: 0px;
      p {
        margin-top: 24px;
        font-size: 18px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        // color: #ffffff;
        color: black;
        @include mq('tablet') {
          text-align: center;
          margin: 8px;
          font-size: 14px;
        }
        @include mq('desktop') {
          text-align: center;
          font-size: 18px;
        }
      }
    }
    @include mq('tablet') {
      order: 1;

    }
}

.sy-schedule-demo-form {
  order: 1;
  @include mq('tablet') {
    order: 2;
  }
}
