.sy-gdpr {
    margin: 5% 0px 5% 0px;
    font-family: Roboto;
}
.sy-gdpr-section {
    color: #333;
}
.sy-gdpr-section p{
    color: #545454;
}
.sy-gdpr-section h1, h2, h3{
    font-weight: 700;
}
.sy-gdpr-section h1 {
    font-size: 42px;
}
.sy-gdpr-section h3 {
    font-size: 24px;
}
.sy-gdpr-section h2 {
    font-size: 36px;
}
.table {    
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border-spacing: 0;
    border-collapse: collapse;
}
td {
    padding: 12px 0px 12px 0px;
    border-top: solid 1px #ddd;
}
th {
    padding: 12px 0px 12px 0px;
}
tr {
    display: table-row;
    vertical-align: inherit;
    text-align: left;
}
a {
    color: #337ab7;
    text-decoration: none;
}
div {
    font-family: Roboto;
}