$sy-primary-gradient: linear-gradient(259deg, #6742ec, #8469f5);
$sy-primary-gradient-transparent: linear-gradient(259deg, rgba(103,66,236, 0.95), rgba(132,105,245, 0.92));

$sy-primary-gradient-transparent-overlay: linear-gradient(259deg, rgba(103,66,236, 0.65), rgba(132,105,245, 0.45));
$sy-secondary-gradient: linear-gradient(100deg, #4c83ff, #00D8DF);

$sy-grey-gradient:  linear-gradient(to top, #ebedee, #fbfbfb);


.sy-primary-gradient {
  background-image: $sy-primary-gradient;
}

.sy-secondary-gradient {
  background-image: $sy-secondary-gradient;
}
