picture { display:block; img {display:block; }}
.sy-hdr-img {
  display: none;
  margin-top: 36px;
  @include mq('tablet')  {
    // margin-top: 91px;
    display: block;
  }
}

.sy-hdr {
    position: relative;
    // min-height: 85vh;
    padding: 76px 0px;
    box-sizing: border-box;
    @include mq('tablet')  {
      padding: 76px 0px;
      // padding-bottom: 0px;
    }
    flex-wrap: wrap;
    background-size: cover;
    background-repeat: no-repeat;
}

.sy-hdr-content {
  flex: 1 1 0;
  margin-top: 36px;
  flex-wrap: wrap;
  @include mq('tablet') {
    // margin-top: 91px;
    flex: 0 0 50.8%;
  }
  .sy-hdr-content--container {
    flex-direction: column;
    justify-content: flex-start;
    @include mq('tablet') {
      height: 100%;
      justify-content: center;
    }
  }

  .sy-hdr-actions {
    margin-top: 42px;
    flex-wrap: wrap;
    justify-content: center;
    @include mq('phone-wide') {
      justify-content: flex-start;
    }
    .item {
      margin: 11px;
      flex: 1 1 100%;
      @include mq('phone-wide') {
        flex: 0 0 auto;
      }
      .button {
        box-shadow: 0 2px 54px 0 rgba(13, 13, 13, 0.2);
      }
      &.sy-first-button {
        margin-left: 0px;
      }
      &.sy-last-button {
        margin-right: 0px;
      }
    }
  }
}

.sy-hdr-description {
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.39;
  letter-spacing: normal;
  color: #ffffff;
  margin: 13px 0;
}


.sy-hdr-title {
  max-width: 500px;
  margin: 13px 0 0 0;
  font-size: 36px;
  @include mq('tablet') {
    font-size: 48px;
  }
 font-weight: bold;
 font-style: normal;
 font-stretch: normal;
 line-height: normal;
 letter-spacing: normal;
 color: #ffffff;
}
