.sy-blogs-grid {
  max-width: 1140px;
  margin: auto;
  padding: 20px 0;
  flex-flow: row;
  @include mq('tablet', 'max') {
    display: block;
    flex-flow: wrap;
  }
  justify-content: 'flex-start';
}
.sy-blogs-div {
  position: relative;
  // width: 50%;
  .sy-button {
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    @include mq('tablet', 'max') {
      font-size: 7px;
    }
  }
}
.sy-blog-msg {
  margin-top: 20%;
  margin-left: 15%;
  font-size: 20px;
  font-weight: bold;
}
.industry-section {
  margin: 0;
  padding: 24px 0px;
  min-height: 150px;
}
.industry-grid-title {
  max-width: 100%;
  text-align: center;
}
.industry-grid {
  max-width: 1000px;
  margin: auto;
  flex-flow: row;
  // @include mq('tablet', 'max') {
  //   display: block;
  //   flex-flow: wrap;
  // }
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.industry-item {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  font-size: 8px;
  margin: 10px;
  align-items: center;
  justify-content: flex-start;
}
.industry-box {
  // background-color: #6e56e5;
  width: 140px;
  padding: 4px;
  border-radius: 10px;
  img {
    margin: auto;
    padding: 10px;
    width: 115px;
    height: 120px;
  }
}
.industry-box-label {
  text-align: center;
  width: 160px;
  word-wrap: break-word;
}
.industry-whysayint-grid {
  max-width: 1140px;
  margin: auto;
  padding: 20px 0;
  justify-content: 'flex-start';
}
