.sy-metrics-container {
  flex: 1 1 100%;

    padding: 36px 0px;
    padding-bottom: 0px;
    margin: 0 -24px;
  @include mq('tablet') {
    margin:0;
    padding: 36px 0px 0px 0px;
  }
}

.sy-metrics {
  max-width: 1140px;
  margin: auto;
  opacity: 0.6;
  border-radius: 0px;
  background-color: #070269;
  min-height: 200px;
  padding: 40px 0;
  box-sizing: border-box;
  flex-wrap: wrap;
  @include mq('tablet') {
    flex-wrap: none;
    border-radius: 12px;

    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .sy-metrics-itm {
    flex: 0 0 50%;
    @include mq('tablet') {
      flex: 0 0 25%;
    }
    .sy-metrics-value {
      opacity: 0.9;
      text-shadow: 0 2px 54px rgba(0, 0, 0, 0.2);
      background-image: linear-gradient(87deg, #4c83ff, #2afadf);
      font-family: Roboto;
      font-size: 52px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      margin: 0 0 11px;
    }

    .sy-metrics-description {
      margin: 0;
      max-width: 202px;
      margin: auto;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
    }
  }
}
