@import 'animation';

.sy-navbar {
  z-index: 10;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  box-sizing: border-box;
  transition-property: background-image, box-shadow;
  will-change:   background-image, box-shadow;
  @include material-animation-fast-out-slow-in(0.2s);
  &.sy-navbar--raised {
    @extend .mdl-shadow--2dp !optional;
  }
  padding: 16px 24px;
  @include mq('tablet') {
    padding: 16px 48px;
  }
  .sy-brand-logo {
    padding-left: 0 !important;
  }
  .sy-navlinks {
    display: none;
    @include mq('tablet') {
      display: flex;
      height: 100%;
    }
  }
  .sy-nav-action {
    display: none;
    @include mq('tablet') {
      display: block;
    }
  }

  &.sy-navbar--gradient {
    background-image: $sy-primary-gradient;
  }

  .sy-nav-menu-link {
    padding: 0px 18px;
    position: relative;
    overflow: hidden;
    z-index: 2;
    picture {
      align-self: center;
      margin-left: 4px;
    }
    .sy-navbar-link {
      padding: 0;
    }

    .sy-nav-menu {
      position: absolute;
      transition-property: background-color, transform, opacity;
      will-change:   background-color, transform, opacity;
      @include material-animation-fast-out-slow-in(0.2s);
      top: 100%;
      // right: 0;
      left: 0;
      // transform: translateY(-70px);
      opacity: 0;
      width: 290px;
      background-color: transparent;
      border-radius: 2px;
      z-index: -1;
      overflow: hidden;
      pointer-events: none;
      flex-direction: column;
    }
    &:hover, &.active {
      overflow: visible;
      .sy-nav-menu {
        transform: translateY(0px);
        background-image: $sy-primary-gradient-transparent;
        @extend .mdl-shadow--4dp !optional;
        opacity: 1;
        z-index: 1;
        flex-direction: column;
        pointer-events: auto;
        .sy-nav-menu-item {

          font-size: 14px;
          pointer-events: auto;
          padding: 16px 32px;
          text-align: left;
          transition-property: background-color, font-size;
          will-change:   background-color, font-size;
          @include material-animation-fast-out-slow-in(0.2s);
          position: relative;
          cursor: pointer;
          a {
            text-decoration: none;
            pointer-events: auto;
            color: #fff;
            &:hover, &:active, &:focus {
              text-decoration: none;
              color: #fff;
            }
            small {
              line-height: 1;
            }
          }
          &:before {
            position: absolute;
            bottom: 0;
            left: 0;
            height: 1px;
            opacity: 0.75;
            transition-property: background-color, opacity;
            will-change:   background-color, opacity;
            @include material-animation-fast-out-slow-in(0.2s);
            background-color: unquote("rgb(#{$palette-grey-100})") !important;
          }
          &:hover, &:focus {
            font-size: 16px;
            color: #fff;

            // background-image: $sy-primary-gradient;
            background-color: unquote("rgba(#{$palette-grey-100}, 0.2)") !important;
            &:before {
              background-color: #fff;
              opacity: 1;
            }
          }
        }
      }
    }



  }

  .sy-navbar-link {
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #f2f2f2;
    opacity: 0.95;
    min-height: 39.5px;
    line-height: 39.5px;
    padding: 0px 18px;
    @include mq('tablet') {
      padding: 0px 8px;
    }
    margin: auto;
    text-decoration: none !important;
    position: relative;
    display: block;
    cursor: pointer;

    &:hover, &:active, &:focus {
      text-decoration: none !important;
    }

  }
}

.sy-focus-animation {
  position: relative;
  transition-property: transform, opacity, color;
  will-change: transform, opacity, color;
  transition-timing-function: linear;
  transition-duration: 0.3s;
  &:before {
    position: absolute;
    content: '';
    background-color: #fff;
    transition-property: width, left;
    will-change:   width, left;
    transition-timing-function: linear;
    transition-duration: 0.3s;
    position: absolute;
    left: 50%;
    top: 80%;
    height: 2px;
    border-radius: 4px;
    width: 0%;
  }
  &:hover, &:active, &:focus {
    // transform: scale(1.05);
    color: #fff;
    opacity: 1;
    text-decoration: none !important;
    &:before {
      left: 18px;
      width: calc(100% - 36px);
    }
  }
}
