.sy-privacy {
    margin: 5% 0px 5% 0px;
    font-family: Roboto;
}
.sy-privacy-section {
    color: #333;
}
.sy-privacy-section p{
    color: #545454;
}
.sy-privacy-section h1, h2, h3{
    font-weight: 700;
}
.sy-privacy-section h1 {
    font-size: 42px;
}
.sy-privacy-section h3 {
    font-size: 24px;
}
.sy-privacy-section h2 {
    font-size: 36px;
}

a {
    color: #337ab7;
    text-decoration: none;
}
div {
    font-family: Roboto;
}