.solution-image {
	display: flex;
	flex-direction: column;

	.graphic {
		display: none;
	}
	.graphic-mobile {
		display: block;
	}
	@include mq('phone-wide') {
		.graphic {
			display: block;
		}
		.graphic-mobile {
			display: none;
		}
	}

}