.summary {
	.button {
		margin-right: 10px;
		padding: 7px 20px;
		min-width: 50px;
		text-align: center;
		color: white;
		border-radius: 20px;
		background-color: #7c61ec;
		border: 1px solid #4a2cb9;
		box-shadow: 0px 0px 10px #4a2cb9;
		transition: 0.3s all;
		cursor: pointer;
		&:hover {
			background-color: #1a1490;
		}
		&.active {
			&,
			&:hover {
				cursor: default;
				background-color: #070269;
			}
		}
	}
	> .search {
		border-radius: 20px;
		padding: 10px;
	}
}

.youtubePreview {
	// position: relative;
	margin-bottom: 10px;
	// z-index: 1;
	height: 260px;
	width: 480px;
	overflow: hidden;
	border: 10px solid white;
	cursor: pointer;
	img {
		transition: all 0.3s;
		opacity: 0.8;
	}
	&:hover {
		img {
			transform: scale(1.07, 1.07);
			opacity: 1;
		}
		// z-index: 100;
	}
}

.portal {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	// pointer-events: none;
	background-color: rgba(0, 0, 0, 0.5);
}

@keyframes video-entry {
	0% {
		opacity: 0;
		transform: scale(0) rotateZ(-10deg);
	}
	30% {
		opacity: 1;
	}
	50% {
		transform: scale(0.4) rotateZ(-10deg);
	}
	100% {
		transform: scale(1) rotateZ(0deg);
		opacity: 1;
	}
}

.youtube-video {
	padding: 10px;
	background-color: white;
	// pointer-events: all;
	animation-name: video-entry;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
