@import 'normalize';
@import 'mp';
@import 'palette';
@import 'gradients';
@import 'typography';
@import 'shadows';
@import 'video';
@import 'features';
@import 'buttons';
@import 'navbar';
@import 'header';
@import 'menu';
@import 'metrics';
@import 'footer';
@import 'carousel';
@import 'industry';
@import 'forms';

@import "solution";
@import "blog";
@import "case-studies";
@import "brand";
@import "feature-event";
@import 'download-brochure';
@import 'carrot-blueprint';
@import 'gdpr';
@import 'privacy-policy';

// section {
// 	margin: 0px 18px;
// }

.sy-responsive-padding {
  padding-left: 24px;
  padding-right: 24px;
  @include mq('tablet') {
    padding-left: 48px;
    padding-right: 48px;
  }
}

html {
  font-family: 'Roboto', sans-serif !important;
}
* {
  font-family: 'Roboto', sans-serif !important;
}
.sy-section {
  @extend .sy-responsive-padding !optional;
  padding-top: 24px;
  padding-bottom: 12px;
}


.sy-margin-adjust {
  margin: 0 -24px;
}
